* {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    
}


html,body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/pexels-hasan-albari-1229861.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    
}

p{
    margin: 0.5em 0 0.5em 0;
    
}


header{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: rgb(9, 29, 59);
    padding: 10px;
}

nav a:visited,
nav a:link{
    color: #fff;
    text-decoration: none;
}

nav > ul{
    display: inline;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}



main {
    background-image: url('images/pexels-hasan-albari-1229861.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-top: 3em;
    padding-bottom: 3em;
    height: fit-content;
    
}

#img{
    width: 10em;
    border-radius: 45%;
}

footer{
    display:block;
    width:100%;
    background-color: rgb(9, 29, 59);
    padding: 16px;

}




article{
    padding: 5em;
    color: #fff;
    text-align: center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10%;
    margin-left: 2em;
    margin-top: 4em;
    padding: 1.5em;
    float: left;
    width:fit-content;
    background-color: rgb(255, 238, 202);
    color:rgb(100, 89, 89);
}

aside > ul{
    display: inline;
}

aside > ul > li{
    padding: 1.5em;
    list-style: none;
    margin: 0 5px 0 5px;
}


aside > ul > li > a:link, aside > ul > li > a:visited{
    
    color: rgb(6, 94, 83);
    text-decoration: none;
}
    

aside > h2, aside > h3{
    padding: 0.3em;
    text-align: center;
}

hr{
   padding: 0.025em;
}

article > h3 > a:visited,
article > h3 > a:link{
    color: rgb(18, 207, 182);
    text-decoration: none;
}

.icon{
   float: left;
   margin-right: 2em;

}

@media only screen and (max-width: 844px) {
    aside {
        margin: 0.5em;
    }

    
    }


/*<a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons">Twitter icons created 
by Pixel perfect - Flaticon</a>*/