
* {
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   
    
}

html{
     -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
     background: url('images/pexels-hasan-albari-1229861.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

html,
body {
  height: 100%;
}


@font-face {
  font-family: "Water Brush";
  src: url("Fonts/Water_Brush/WaterBrush-Regular.ttf");
}

@font-face {
    font-family: "Soul";
    src: url("Fonts/My_Soul/MySoul-Regular.ttf");
}

@font-face {
  font-family: "Indie";
  src: url("Fonts/Indie_Flower/");
}

@font-face {
  font-family: "Madi";
  src: url("Fonts/Ms_Madi/MsMadi-Regular.ttf");
}
@font-face {
    font-family: "Shadows";
    src: url("Fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf");
}

@font-face {
  font-family: "SquarePeg";
  src: url("Fonts/Square_Peg/");
}

@font-face {
  font-family: "PlayFair";
  src: url("Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("Fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "DancingScript";
  src: url("Fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}

p {
  margin: 0.5em 0 0.5em 0;
}

h2,
p {
  color: #fff;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(9, 29, 59);
  padding: 10px;
  
}

nav a:visited,
nav a:link {
  color: #fff;
  text-decoration: none;
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 5px 0 5px;
  font-family: "Shadows";
}

main {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 85%;
}

#img {
  width: 10em;
  border-radius: 45%;
}

aside
{
  padding: 2em;
}

article {padding: 0;

}
aside {
  text-align: center;
}

article {
  text-align: center;
  font-weight: bold;
}

article > h2 {
  font-family: "Caveat";
  font-size: 45px;
  font-weight: 400, 700;
}

article > p {
  font-family:'Shadows','Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 400, 700;
}

@media only screen and (max-width: 786px) {

article > p {
  font-family:'Caveat','Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 400, 700;
}
}
